@mixin custom-scroll($color, $direction) {
  @if $direction==vertical {
    overflow-y: auto;
    overflow-x: hidden;
  }

  @if $direction==horizontal {
    overflow-y: hidden;
    overflow-x: auto;
  }

  @if $direction==both {
    overflow: auto;
  }

  // -webkit-
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 4px;

    &:hover {
      background-color: darken($color, 10%);
    }
  }

  &::-webkit-scrollbar:vertical {
    width: 5px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
  }

  // -moz-
  scrollbar-color: $color transparent;
  scrollbar-width: thin;
}
